<style type=text/css">
*{
margin:1;
padding:2; 

}


h1{
    margin-top: -100px !important;
    margin-bottom:50px !important;
    margin-left: 200px !important;
    font-size:45px;
    font-family:arial;
    color:blue;
      }
      
nav{
    margin-bottom:10px;
    width:1000px;
    background-color:#0E9CFA;
    position:relative;
}


#menu{
    margin: auto;
    font-family: arial;
      list-style-type: none;
    margin: 80px -40px;
    padding: -100px  10px;
    width: 200px;
     display:block;
    *text-decoration:none; 
}

 ul ,ol{
    list-style: none;
}



.submenu li ul{
    display:block; 
    float: left;
    position: absolute;
    min-width: 140px;
     padding: 10px 15px; 
        background color:red;
}


.menu1>li{
    margin-top:000px;
    position:relative;
    display:inline-block;
    
}


#menu ul{
    <!--==============================menu izquierdo=================================-->
   
    *text-transform: uppercase;
    background-color:#0E9CFA;
    margin: 80px -10px;
    padding: 0px  0px;
    width: 200px;
    
}

#menu ul :hover{
background-color: yellow;
}

#menu li ul :hover{
position: absolute;

}

#menu li :hover> ul{
}

#menu ul li a {
    color: black;
    padding: 20px 26px;
    text-align: center;
    display: block;
    font:bold 25px "Trebuchet MS"; 

}




div#main{
margin:auto;
margin-left:200px;
width:  1100px;
height: 1400px;
background-color: white;

}


#PaginaCentral{
background-position: relative;
float:left;
margin-top: -630px;
width:750px;
margin-left:250px;
height: 800px;
background-color: white;
display:inline-block;
}



footer{
    background-color:#0E9CFA;
    bottom:-5px;
    position:relative;
    width:1100px;
    margin-top:5px;
    height: 150px;
    font-family:arial;
    font:bold 25px "Trebuchet MS"; 
    display:inline-block;
}

    

p{
    font-size: 18px;
    line-height:20px;
    font-family:arial;
    text-align: justify;
    margin-left:30px;
    margin-right:30px;
    color:black;   
}